body{
    background-image: url("./image/bar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
    
}
#title{
    display: flex;
    justify-content: center;
    margin: 2% auto;
    width: 50%;
    background-color: chocolate;
}
#contenedor{
    width: 90%;
    margin: 2% auto;
    background-color: gray;   
}

#productos{
    width: 60%;
    float: left;
    background-color: lightskyblue;
}

#calculadora{
    width: 30%;
    float: right;
}
.lista{
    display:inline-block;
}

.img{
    border: solid 5px;
    width: 230px;
    height: 230px;
}
#calculoPrecio{
    margin-left: 5%;
    width: 60%;
    background-color: white;
}
#cantidad{
    margin-left: 5%;
}
#cuenta{
    display: inline-block;
    left: 1%;
    font-size: 1.3em;
    text-align: left;
    background-color: blue;
    color:white;
    
    width: 70%;
}

#elementCuenta{
    background-color: yellow;
}